{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}

    <div class="d-flex justify-content-center p-4" role="search">
        {{ form(form.title) }}
        {{ form(form.languages) }}
    </div>

    {% for mission in missions %}
        <div class="row featurette mt-3 gx-5 text-center align-items-center justify-content-around">
            <div class="card">
                <div class="card-header">
                    {{ mission.title }}

                </div>
                <div class="card-body">
                    {{ mission.users.password }}

                </div>

            </div>
        </div>
    {% endfor %}

{% endblock %}
